<div class="container">
	<h1>Posts</h1>
	<div id="posts">
		<% @posts.each do |post| %>
			<div class="row title border border-1 rounded-2 mb-2">
				<div class="col-10 my-auto">
					<div class="py-1">
						<p class="mb-0 align-middle"><%= post.title.strip.truncate(80) %></p>
					</div>
				</div>
				<div class="col-1 my-auto">
					<div class="py-1 mx-2">
						<%= link_to "Show", post, class: 'link-to btn btn-light' %>
					</div>
				</div>
				<div class="col-1 my-auto">
					<div class="py-1 statis">
						<a class="btn btn-light"
                            data-bs-toggle="collapse"
                            href="#collapseStats_<%= dom_id(post) %>"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseStats_<%= dom_id(post) %>">
							Stats
						</a>
					</div>
				</div>
				<div class="collapse my-2 px-2" id="collapseStats_<%= dom_id(post) %>">
					<%= turbo_frame_tag post_stats_path(post.id).parameterize, src: post_stats_path(post), loading: 'lazy'  %>
				</div>
			</div>
		<% end %>
	</div>
	<%= link_to "New post", new_post_path %>
</div>
