<p style="color: green"><%= notice %></p>
<div class="container w-50 my-4">
	<%= render @post %>
	<div class="my-3">
		<%= link_to "Edit", edit_post_path(@post), class: "btn btn-light border-0" %>
		<%= button_to "Destroy", @post,
            method: :delete, form: { class: "button_to btn btn-light border-0 ms-1" } %>
		<%= link_to "Back", posts_path, class: "btn btn-light border-0 ms-1" %>
	</div>
</div>
